*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: DM sans;
}
nav{
    padding: 0 150px;
}
header{
    
    width: 100%;
    height: 100%;
  
    font-weight: 500;
   
    font-size: 18px;
}
ul{
    display: flex;
    list-style: none;
   align-items: center;
}
ul li a{
    text-decoration: none;
    padding: 20px;
    color: black;
  
}

 .flex-container {
display: flex;
/* background-color: DodgerBlue; */
}

/*  */
.main .border{
background-color: #FF7629;
width: 850px;
height: 500px;
}

.main .title{
margin-top: 80px;
margin-left: 50px;

}
.title h1{
font-size: 50px;
/* margin-left: 10px; */
}
.title P{
font-size: 20px;
color: rgb(75, 74, 74);
width: 75%;
}
.border img{
width: 400px;
margin-top: 50px;
position: relative;
right: 120px;
border-radius: 8px;
}


.title .a1{
background-color: #FF7629;
padding: 10px;
font-size: 15px;
color: white;
border-radius: 25px;
width: 120px;
}
.title .a2{

border-radius: 25px ;
width: 120px;
padding: 10px;
margin-left: 20px;
background-color: white;
font-size: 15px;
}
h4{
text-align: center;
font-size: 25px;
}
.logo{
display: flex;
justify-content: center;
}
.logo img{
padding: 0 40px;
}
.menu h3{
text-align: center;
font-size: 30px;
position: relative;
top: 120px;
}

.box{
display: flex;
margin-top: 180px;
/* justify-content: center; */
justify-content: center; 


}
.box1{
border: 3px solid #cecece;;
border-radius: 10px;
width: 280px;
height: 420px;
margin: 0 10px;

}

.box1 img{
margin-left: 80px;
margin-top: 20px;
}
.box1 h3{
color: black;

font-size: 25px;
text-align: center;
}
.box1 p{
color: gray;
font-weight: bold;
font-size: 20px;
width: 75%;
margin-left: 50px;
}
.box1 .text{
color: rgb(255, 77, 0);
margin-left: 70px;
}

.button{
margin-top: 50px;
margin-left: 40%;
}
.button .ab{
padding: 10px;
border-radius: 20px;
color: white;
background-color: #FF7629;
border: none;
}
.button .ac{
padding: 10px;
border-radius: 20px;
color:black;
background-color:transparent;
/* border: none; */
margin-left: 30px;
}

.about{
display: flex;
margin-top: 150px;
}

.ad{
padding: 10px;
border-radius: 20px;
color:black;
background-color:transparent;
/* border: none; */



}
.ae{
/* padding: 10px; */
border-radius: 20px;
color: white;
align-items: center;
text-align: center;
background-color: #FF7629;
border: none;
font-size: 20px;

}
.contact{
display: flex;

}
.followusimg{
margin: 4px;
}
.Browse{
margin-top: 50px;
}
.pic{
display: flex;
justify-content: space-around;

}
.pic1{
width: 250px;
height: 250px;
border-radius: 30px;
}
.taste{
display: flex;

}
.clients{
display: flex;

}

.main{
display: flex;
/* padding: 20px 150px; */
/* justify-content: space-around; */




}

.title img{
width: 280px;
border-radius: 50px;
padding: 20px;

}
.title h5{
    background-color: white;
    width:100px;
    font-weight: bold;
  font-size: 18px;

    padding: 8px 20px;
    border-radius: 20px;
    
    position: relative;
    top:70px;
    left:110px;
   }

   .title h3{
    font-size: 25px;
    margin-left: 80px;
    position: relative;
bottom: 20px;

   }
   .title p{
    font-size: 15px;
    color: rgb(78, 77, 77);
    /* width: 320px; */
    letter-spacing: 1px;
    /* position: relative;
    bottom: 40px;
    left: 20px;
    margin-top: 50px; */
    
   }
  


   .main1{
display: flex;
justify-content: center;
/* padding: 20px 150px;
position: relative;
bottom: 120px; */
}

.title1 img{
width: 280px;
border-radius: 50px;
padding: 20px;

}
.title1 h5{
    background-color: white;
    width:100px;
    font-weight: bold;
  font-size: 18px;

    padding: 8px 20px;
    border-radius: 20px;
    
    position: relative;
    top:70px;
    left:110px;
   }

   .title1 h3{
    font-size: 25px;
    margin-left: 20px;
    position: relative;
bottom: 20px;
display: flex;
align-items: center;

   }
   .title1 p{
    font-size: 15px;
    color: rgb(78, 77, 77);
    /* width: 320px; */
    letter-spacing: 1px;
    
   }
   .box5{
display: flex;
}
.border1{
background-color: #FF7629;
width: 100%;
height: 788px;
}
.content1 {
margin-top: 200px;
margin-left: 120px;
}
.content1 h2{
font-size: 38px;
color: white;
}
.content1 p{
color: white;
font-size: 16px;
}
.burger2 img{
 width: 100%;
 height: 100%;
}

.content1 .a3{
background-color: white;
padding: 10px 15px;
font-size: 17px;
color: black;
border-radius: 25px;
border: 1px solid white;
width: 140px;
}
.content1 .a4{

border-radius: 25px ;
border: 1px solid white;
width: 140px;
padding: 10px 15px;
margin-left: 20px;
background-color: #FF7629;
color: white;
font-size: 17px;
}
.main5{
display: flex;


}
.main5 .border4{
/* margin-top: 50px; */
background-color: #FF7629;
width: 800px;
height: 900px;
margin-left: 300px;
}
.content3{
margin-left: 100px;
margin-top: 300px;
}

.content3 h1{
font-size: 35px;
}
.content3 p{
color: gray;
font-size: 20px;
}
.content3 i{
color:#FF7629 ;
padding: 5px;
font-size: 25px;
align-items: center;


}


.form{
/* margin-top: 20px; */
border: 5px solid #d9d4d4;; 
background-color: white;
border-radius: 40px;
height: 100vh;
 width: 550px;
 margin-top: 90px;
 position: relative;
 right: 150px;
 
}
.label1{
display: flex; 
padding: 10px 40px;
position: relative;
top: 50px;
}
.label1 label{
font-size: 20px;
font-weight: 700;

}

.label1 input{
padding: 10px 10px;
border: 1px solid rgb(196, 196, 196);
border-radius: 40px;
}
.label1 p{

background-color: #FF7629;
color: white;
font-size: 18px;
padding: 2px 2px;

text-align: center;
border-radius: 25px;
width: 120px;
margin-top: 20px;
} 


.btn{
    padding: 10px 25px;
    align-items: center;
}

